.intro p {
    width: 50%;
    margin: 0.5em auto;
    font-size: 1.65em;
}

.intro {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section {
    text-align: center;
}

.content {
    padding-right: 10vw;
    padding-left: 10vw;
}

/* Overwriting styles for the navigation dots */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #00ffd2;
}

#fp-nav ul li .fp-tooltip{
    color: #00ffd2;
}

.chart-container {
    width: 80vw;
    height: 20vh;
}