.intro p {
    width: 50%;
    margin: 0.5em auto;
    font-size: 1.65em;
}

.intro {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section {
    text-align: center;
}

/* Overwriting styles for the navigation dots */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #00ffd2;
}

.chart-container {
    border: 1px solid #00ffd2;
    width: 100vw;
    height: 50vh;
}